
* {
  box-sizing : border-box;
}



body {background-color: beige;
  padding:20px;
  font-family:fantasy;
  margin:0;


}
.main{
  max-width: 1000px;
  margin: auto;

}
h1{font-size: 50px;
word-break: break-all;

}

img{
  width:120%;
  height:170px;
}

.row{
  margin: 8px -16px;
}

.header{
  width:80%;
  height:50%;
}

.column{
  float:left;
  width:30%


}

.row:after {
  content:"";
  display:table;
  clear:both;
}

.content{
  background-color: beige;
  padding:10px;

}
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: beige;
  overflow-x: hidden;
  padding-top: 20px;
}
li a{
  display:block;
  color:#black;
  padding: 8px 16px;
  text-decoration:none;


li a.active {
  background-color: #4caf50;
  color:white;

}

* {box-sizing: border-box}





input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


.form {
  border: 1px solid #f1f1f1;
  margin-bottom: 55px;
}

}


@media screen and(max-width:900px){
  .column{
    width: 50%;

  }
}

@media screen and(max-width:600px){
  .column{
    width: 100%;

  }
}
